**/bin/
**/obj/
**/.git/
**/.gitignore
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
certs/
scripts/
*.md
.env
.env.example
api_allowed_origins.env
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
