# Основная база данных (SmartWalletDb)
API_DB_USER=postgres
API_DB_PASSWORD=mysecretpassword

# База данных Hangfire (SmartWalletHangfireDb)
HANGFIRE_DB_USER=postgres
HANGFIRE_DB_PASSWORD=mysecretpassword

# Окружение ASP.NET Core (Production или Development)
API_ENVIRONMENT=Production

# JWT-аутентификация
API_JWT_KEY=ваш-секретный-ключ-минимум-32-символа
API_JWT_EXPIRES_MINUTES=20
API_JWT_REFRESH_EXPIRES_DAYS=7

# URL API для фронтенда
API_BASE_URL=https://localhost:443