# Переопределяем первый элемент массива (индекс 0)
# Путь должен совпадать с конфигурационным ключом: ApiSettings:CqrsSettings:AllowedOrigins:0
ApiSettings__CqrsSettings__AllowedOrigins__0=https://localhost
# Если нужно добавить второй домен, просто увеличиваем индекс на 1
#ApiSettings__CqrsSettings__AllowedOrigins__1=
